services:
  whot:
    build: .
    ports:
      - "3001:3001"   # Player 1 Frontend
      - "3002:3002"   # Player 2 Frontend
      - "8080:8080"   # Faucet
      - "8081:8081"   # Player 1 GraphQL
      - "8082:8082"   # Player 2 GraphQL
    volumes:
      - .:/build
    hostname: whot
    networks:
      - whot-network
    dns:
      - 8.8.8.8

networks:
  whot-network:
    driver: bridge
